*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px;
}

section {
  position: absolute;
}

.hidden-mobile {
  @include respond(mobile) {
    display: none;
  }
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  width: 100%;
  text-align: center;
  color: #000;
}
