@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == tablet-sm {
    @media only screen and (max-width: 750px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media only screen and (max-width: 650px) {
      @content;
    }
  }
  @if $breakpoint == mobile-sm {
    @media only screen and (max-width: 355px) {
      @content;
    }
  }
}

$padding-side-desktop: 11.5vw;
$padding-side-tablet: 8.3vw;
$padding-side-mobile: 7vw;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px;
}

.hidden-mobile {
  @include respond(mobile) {
    display: none;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 1.8rem;
}

// CONTAINER
.container {
  min-height: 100vh;
  height: 80rem;
  position: relative;
  overflow: hidden;

  &__bg {
    width: 100%;
    height: 100%;
    background-image: url(../assets/desktop/bg-image-daytime.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 200rem rgba(#000, 0.3);
    animation: zoomOutBackground 2s;
  }

  &.night &__bg {
    background-image: url(../assets/desktop/bg-image-nighttime.jpg);
  }

  @include respond(tablet) {
    height: 102.4rem;

    &__bg {
      background-image: url(../assets/tablet/bg-image-daytime.jpg);
    }

    &.night &__bg {
      background-image: url(../assets/tablet/bg-image-nighttime.jpg);
    }
  }

  @include respond(mobile) {
    height: 66.7rem;

    &__bg {
      background-image: url(../assets/mobile/bg-image-daytime.jpg);
    }

    &.night &__bg {
      background-image: url(../assets/mobile/bg-image-nighttime.jpg);
    }
  }
}

@keyframes zoomOutBackground {
  0% {
    transform: scale(2.75);
  }

  100% {
    transform: scale(1);
  }
}

section {
  position: absolute;
}

// TIME SECTION
.time {
  top: 51.75%;
  left: 0;
  width: 100%;
  padding: 0 $padding-side-desktop;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: all 0.5s;

  @include respond(tablet) {
    top: 57%;
    padding: 0 $padding-side-tablet;
    flex-direction: column;
    align-items: flex-start;
  }

  @include respond(mobile) {
    top: 53.2%;
    padding: 0 $padding-side-mobile;
  }

  &__content {
    @include respond(tablet) {
      margin-bottom: 6rem;
    }

    @include respond(mobile) {
      margin-bottom: 4.8rem;
    }
  }

  &__greeting {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
  }

  &__icon {
    margin-right: 1.8rem;
    display: block;

    @include respond(mobile) {
      margin-right: 1.6rem;
    }
  }

  &__greeting-text {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.4rem;
    font-weight: 400;
    text-transform: uppercase;

    @include respond(tablet) {
      font-size: 1.8rem;
      letter-spacing: 0.36rem;
    }

    @include respond(mobile) {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: 0.3rem;
    }
  }

  &__heading {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.6rem;
  }

  &__time {
    font-size: 20rem;
    line-height: 20rem;
    letter-spacing: -0.5rem;
    font-weight: 700;
    margin-right: 1.3rem;

    @include respond(tablet) {
      font-size: 17.5rem;
      line-height: 17.5rem;
      letter-spacing: -0.438rem;
    }

    @include respond(mobile) {
      font-size: 10rem;
      line-height: 10rem;
      letter-spacing: -0.25rem;
    }

    @include respond(mobile-sm) {
      font-size: 8rem;
      line-height: 8rem;
    }
  }

  &__timezone {
    font-size: 4rem;
    line-height: 2.8rem;
    font-weight: 300;
    transform: translateY(-2.8rem);

    @include respond(tablet) {
      font-size: 3.2rem;
      transform: translateY(-2.4rem);
    }

    @include respond(mobile) {
      font-size: 1.5rem;
      transform: translateY(-0.8rem);
    }

    @include respond(mobile-sm) {
      transform: translateY(-0.4rem);
    }
  }

  &__location {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.48rem;
    font-weight: 700;
    text-transform: uppercase;

    @include respond(tablet) {
      font-size: 1.8rem;
      letter-spacing: 0.36rem;
    }

    @include respond(mobile) {
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
    }
  }
}

.container.active .time {
  top: 7%;

  @include respond(tablet) {
    top: 14.9%;
  }

  @include respond(mobile) {
    top: 13%;
  }
}

// TOGGLE BUTTON
.toggler {
  width: 14.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: inherit;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 0.8rem 0.8rem 0.8rem 2.1rem;
  cursor: pointer;

  @include respond(mobile) {
    width: 11.5rem;
    padding: 0.4rem 0.4rem 0.4rem 1.7rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(#000, 0.5);

    @include respond(mobile) {
      font-size: 1.2rem;
      line-height: 1.4rem;
      letter-spacing: 0.375rem;
    }
  }

  &__icon {
    background-color: #303030;
    color: #fff;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    position: relative;
    transition: all 0.5s;

    @include respond(mobile) {
      width: 3.2rem;
      height: 3.2rem;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.8rem;
      transition: all 0.5s;

      @include respond(mobile) {
        font-size: 1.3rem;
      }
    }
  }

  &:hover &__icon {
    background-color: #999;
  }

  &.active {
    padding-left: 2.8rem;

    @include respond(mobile) {
      padding-left: 2.1rem;
    }
  }

  &.active &__icon i {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

// QUOTE SECTION
.quote {
  top: 7%;
  padding: 0 $padding-side-desktop;
  width: 100%;
  transition: all 0.5s;

  @include respond(tablet) {
    top: 7.8%;
    padding: 0 $padding-side-tablet;
  }

  @include respond(mobile) {
    top: 4.8%;
    padding: 0 $padding-side-mobile;
  }

  &__wrapper {
    display: flex;
    max-width: 57.3rem;
  }

  &__container {
    flex: 1;
    margin-right: 1.6rem;
    position: relative;
  }

  &__content {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 400;

    @include respond(mobile) {
      font-size: 1.2rem;
      line-height: 2.2rem;
    }
  }

  &__text {
    margin-bottom: 1.3rem;

    @include respond(mobile) {
      margin-bottom: 0.8rem;
    }
  }

  &__author {
    font-weight: 700;
  }

  &__refresh {
    cursor: pointer;
    transform: translateY(0.8rem);
    color: rgba(#fff, 0.5);
    font-size: 1.7rem;
    transition: color 0.4s;

    &:hover {
      color: #fff;
    }
  }

  &__spinner {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.container.active .quote {
  transform: translateY(-36rem);
}

// DETAILS SECTION
.details {
  bottom: 0;
  left: 0;
  background-color: rgba(#fff, 0.75);
  backdrop-filter: blur(0.8rem);
  color: #303030;
  padding: 7.4rem $padding-side-desktop;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.5s;

  @include respond(tablet) {
    padding: 11rem $padding-side-tablet;
  }

  @include respond(tablet-sm) {
    padding: 11rem $padding-side-mobile;
  }

  @include respond(mobile) {
    padding: 4.8rem $padding-side-mobile;
    margin-bottom: -5px;
  }

  &__container {
    display: flex;
    align-items: center;

    @include respond(tablet-sm) {
      justify-content: space-between;
    }

    @include respond(mobile) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__side {
    &:not(:last-child) {
      @include respond(tablet) {
        margin-right: 10.4vw;
      }

      @include respond(tablet-sm) {
        margin: 0;
      }

      @include respond(mobile) {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__item {
    @include respond(mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:not(:last-child) {
      margin-bottom: 4.2rem;

      @include respond(tablet) {
        margin-bottom: 4.8rem;
      }

      @include respond(mobile) {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    line-height: 2.8rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.9rem;

    @include respond(tablet) {
      font-size: 1.3rem;
      letter-spacing: 0.26rem;
      margin-bottom: 0.2rem;
    }

    @include respond(mobile) {
      font-size: 1rem;
      letter-spacing: 0.2rem;
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }

  &__title {
    font-size: 5.6rem;
    line-height: 6.777rem;
    font-weight: 700;

    @include respond(tablet) {
      font-size: 4rem;
      line-height: 4.841rem;
    }

    @include respond(mobile) {
      font-size: 2rem;
      line-height: 2.42rem;
      text-align: right;
    }
  }

  &__seperator {
    width: 1px;
    height: 25rem;
    background-color: #303030;
    opacity: 0.25;
    margin: 0 6.5vw 0 10.2vw;

    @include respond(tablet) {
      display: none;
    }
  }
}

.container.active .details {
  transform: translateY(0);
}

.container.night .details {
  background-color: rgba(#000, 0.75);
  color: #fff;

  &__seperator {
    background-color: #fff;
  }
}

// SPINNERS
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  width: 100%;
  text-align: center;
  color: #000;
}
