// TOGGLE BUTTON
.toggler {
  width: 14.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: inherit;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 0.8rem 0.8rem 0.8rem 2.1rem;
  cursor: pointer;

  @include respond(mobile) {
    width: 11.5rem;
    padding: 0.4rem 0.4rem 0.4rem 1.7rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(#000, 0.5);

    @include respond(mobile) {
      font-size: 1.2rem;
      line-height: 1.4rem;
      letter-spacing: 0.375rem;
    }
  }

  &__icon {
    background-color: #303030;
    color: #fff;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    position: relative;
    transition: all 0.5s;

    @include respond(mobile) {
      width: 3.2rem;
      height: 3.2rem;
    }

    i {
      font-size: 1.8rem;
      transition: all 0.5s;

      @include respond(mobile) {
        font-size: 1.4rem;
        transition: none;
      }
    }
  }

  &:hover &__icon {
    @media (hover: hover) {
      background-color: #999;
    }
  }

  &.active {
    padding-left: 2.8rem;

    @include respond(mobile) {
      padding-left: 2.1rem;
    }
  }

  &.active &__icon i {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
